{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <div class="breadcrumbs wrapper">
    <div class="breadcrumbs-mob-none">
      <a href="#">Секс-шоп главная</a> > Адреса магазинов «Он и Она» в Москве и МО
    </div>
    <a href="#" class="back">
      <svg>
        <use xlink:href="#backIcon" />
      </svg>
      Назад
    </a>
  </div>
  <div class="wrapper topHead">
    <h1>Адреса магазинов «Он и Она» в Москве и МО</h1>
  </div>
  <section class="top-slider wrapper -typeSlider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-4.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-2.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-3.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev">
      <svg>
        <use xlink:href="#backArrowIcon" />
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg>
        <use xlink:href="#backArrowIcon" />
      </svg>
    </div>
  </section>
  <main class="wrapper">
    <div class="shops-page">
      <div class="v-block-plate">
        <div class="h1">магазины «Он и Она» в Москве и МО</div>
      </div>
      <div class="shops-page-metro">
        <div class="shops-page-metro-img">
          <img src="/images/metro/metro-map.jpg">
          <div class="shops-page-metro-station -pos-1">
            Бабушкинская
          </div>
          <div class="shops-page-metro-station -pos-2">
            <span class="-new">NEW</span>
            Университет
          </div>
          <div class="shops-page-metro-station -pos-3">
            Автозаводская
          </div>
        </div>
        <div class="shops-page-adres">
          <div class="shops-page-adres-col">
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-1.png" alt="">
                  Улица 1905 года
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Трехгорный Вал, д.&nbsp;18
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-2.png" alt="">
                  Бабушкинская
                </a>
              </div>
              <div class="shops-page-adres-inf">
                ул.&nbsp;Летчика Бабушкина, д.&nbsp;30С10
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-3.png" alt="">
                  Кутузовская
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Кутузовский проспект, д.&nbsp;26
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-4.png" alt="">
                  Кунцевская
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Аминьевское шоссе, д.&nbsp;24
              </div>
            </div>
          </div>
          <div class="shops-page-adres-col">
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h -icon-5">
                <a href="#">
                  <img src="/images/metro/metro-5.png" alt="">
                  Марьина Роща
                </a>
              </div>
              <div class="shops-page-adres-inf">
                ул.&nbsp;Советской Армии, д.&nbsp;17/52
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-2.png" alt="">
                  Волоколамская
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Пятницкое шоссе, д.&nbsp;16
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-6.png" alt="">
                  Парк Культуры
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Фрунзенская наб., д.&nbsp;2/1
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-7.png" alt="">
                  Тульская
                </a>
              </div>
              <div class="shops-page-adres-inf">
                ул.&nbsp;Большая Тульская, д.&nbsp;2
              </div>
            </div>
          </div>
          <div class="shops-page-adres-col">
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h">
                <a href="#">
                  <img src="/images/metro/metro-6.png" alt="">
                  Черкизовская
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Щелковское шоссе, д.&nbsp;6
              </div>
            </div>
            <div class="shops-page-adres-item ">
              <div class="shops-page-adres-h">
                <a href="#">
                  <img src="/images/metro/metro-5.png" alt="">
                  Молодежная
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Ярцевская, д.&nbsp;15
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-6.png" alt="">
                  Университет
                </a>
              </div>
              <div class="shops-page-adres-inf">
                Ленинский проспект, д.&nbsp;82/2
              </div>
            </div>
            <div class="shops-page-adres-item">
              <div class="shops-page-adres-h">
                <a href="#">
                  <img src="/images/metro/metro-8.png" alt="">
                  г.&nbsp;Зеленоград
                </a>
              </div>
              <div class="shops-page-adres-inf">
                корпус&nbsp;514, стр.&nbsp;1
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="shops-showcase">
        {% import "../macros/shop-showcase.twig" as showcaseItem %}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-1.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        <!-- Второй ряд -->
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        <!-- Третий ряд -->
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
        {{ 
          showcaseItem.showcaseItem(
            'work-shop-2.jpg', 
            '-icon-1',
            'Улица 1905 года',
            'Трехгорный Вал, д.&nbsp;18'
          )
        }}
      </div>
      <div class="more">
        <span>Больше  магазинов >></span>
      </div>
    </div>
  </main>
{% endblock afterHeader %}